// * {
//     outline: 1px solid #d82f36;
// }

.grid {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }
}



// page01 ---> 
.page01 {
    background-color: #fff;

    h2 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 70px;
        text-align: center;
    }

    .container {
        width: 1170px;
        margin: 0 auto;
        padding: 300px 0;

        figure {
            margin-bottom: 100px;

            img {
                display: block;
                width: 100%;
                object-fit: cover;
                margin-bottom: 30px;
            }

            h4 {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            p {
                font-size: 17px;
                line-height: 27px;
                font-weight: 400;
            }
        }
    }
}

// page02 ---> 
.page02 {
    background-color: #fff;

    .container {
        width: 1170px;
        margin: 0 auto;
        padding: 300px 0;

        .sec-title {
            position: relative;
            text-align: center;

            span {
                display: block;
                margin-bottom: 10px;
                letter-spacing: 0.04rem;
            }

            h1 {
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 70px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 26%;
                    top: 0;
                    display: inline-block;
                    width: 37.23px;
                    height: 80px;
                    background: url(../../public/images/awards_title_bg1.png) no-repeat center center/cover;
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: 26%;
                    top: 0;
                    display: inline-block;
                    width: 37.23px;
                    height: 80px;
                    background: url(../../public/images/awards_title_bg2.png) no-repeat center center/cover;

                }
            }
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 100px;

            li {
                a {
                    position: relative;
                    padding: 15px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

    .detail {
        .tit {
            position: relative;
            font-size: 18px;
            text-align: center;
            line-height: 2.8rem;
            margin: -50px 0 100px;
        }

        .inner {
            display: flex;
            padding: 30px;

            img {
                object-fit: cover;
            }

            .textbox {
                display: flex;
                flex-direction: column;
                padding: 10px 30px 0;

                .name {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                .detail {
                    font-size: 17px;
                    font-weight: 500;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 17px;
                    line-height: 2.7rem;
                    font-weight: 400;

                    strong {
                        font-weight: 700;
                        letter-spacing: 0.1rem;
                    }
                }
            }
        }
    }

    .winnerList {
        text-align: center;

        table,
        td {
            border: 1px solid #ddd;
            border-left: none;
            border-right: none;
        }

        thead {
            border-top: 2px solid #333;
            border-bottom: 2px solid #ddd;

            tr {
                line-height: 50px;
            }
        }

        tbody {
            tr {
                td {
                    border-right: 1px solid #ddd;
                    padding: 15px 0;

                    .title {
                        font-weight: 600;
                    }

                    &:last-child {
                        border-right: none;
                    }

                    span {
                        display: block;
                        line-height: 25px;
                    }

                    button {
                        background-color: #d82f36;
                        color: #fff;
                        padding: 8px 30px;
                        border-radius: 30px;
                        font-size: 14px;
                    }
                }

            }

        }
    }
}


// page03 ---> 
.page03 {
    background-color: #fff;
    text-align: center;

    h2 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .content {
        padding: 300px 0;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 100px;

            li {
                a {
                    position: relative;
                    padding: 15px;
                    font-size: 18px;
                    font-weight: 600;
                }


            }
        }
    }

    .card {
        width: 480px;
        height: 434px;
        display: flex;
        flex-direction: column;
        transition: 0.3s;

        img {
            display: block;
            width: 100%;
            height: 80%;
            object-fit: cover;
        }

        .textbox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            padding: 20px 30px;
            border: 1px solid #ddd;

            .tit {
                font-size: 14px;
                color: #d82f36;
                margin-bottom: 10px;
                font-weight: 500;
            }

            .title {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .director {
                font-size: 14px;
            }
        }

        &:active {
            scale: 0.98;
        }
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }

}

// page04 ---> 
.page04 {
    background-color: #fff;

    h2 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 80px;
        text-align: center;
    }

    .container {
        position: relative;
        width: 1170px;
        margin: 0 auto;
        padding: 300px 0;

        .content {
            display: flex;
            white-space: pre-wrap;

            .poster {
                width: 50%;

                img {
                    display: block;
                    width: 70%;
                    margin: 0 auto;
                }
            }

            .textbox {
                width: 50%;
                padding: 30px;

                h4 {
                    position: relative;
                    font-size: 40px;
                    font-weight: 700;
                    color: #222;
                    margin-bottom: 40px;
                    padding-bottom: 40px;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 42px;
                        height: 3px;
                        background-color: #d82f36;
                    }
                }

                p {
                    font-size: 17px;
                    line-height: 2.7rem;
                }
            }
        }

        .swiper-button {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1500px;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 700;

            button {
                border: 1.5px solid #222222;
                border-radius: 50%;
                padding: 25px 15px;
                transition: 0.3s;

                &:active {
                    scale: 0.9;
                }
            }

            .prev.swiper-button-disabled {
                border: 1.5px solid rgba(34, 34, 34, 0.5);
            }

            .next.swiper-button-disabled {
                border: 1.5px solid rgba(34, 34, 34, 0.5);
            }
        }

    }
}

// page05 ---> 
.page05 {
    background-color: #fff;

    .container {
        width: 1170px;
        margin: 0 auto;
        padding: 300px 0;

        h2 {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            color: #707070;
            margin-bottom: 60px;
        }

        .search-box {
            display: flex;
            align-items: flex-end;
            margin-bottom: 60px;
            justify-content: flex-end;

            input {
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 2px solid #333;
                padding: 10px;
            }

            .search-btn {
                .xi-search {
                    font-size: 22px;
                    font-weight: 900;
                }
            }
        }

        .form-listBox {
            border-top: 1px solid #dedede;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 8rem;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.02rem;
                border-bottom: 1px solid #dedede;

                span {
                    opacity: 0.7;
                    font-weight: 300;
                    letter-spacing: 0;
                }

                strong {
                    background-color: #d82f36;
                    color: #fff;
                    padding: 7px 10px;
                    border-radius: 30px;
                    font-size: 12px;
                    font-weight: 500;
                    margin-right: 5px;
                }

            }
        }

    }
}

// search-movie ---> 
.search-movie {
    background-color: #fff;

    .container {
        width: 1170px;
        margin: 0 auto;
        padding: 300px 0;

        h2 {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 100px;
        }

        .search-input {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            #input {
                width: 500px;
                padding: 15px;
                background: transparent;
                border: 1px solid #bebebe;
                outline: none;
            }

            .search-btn {
                background-color: #d82f36;
                color: #fff;
                padding: 15px 30px;
            }
        }

        .movie-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            column-gap: 30px;
            row-gap: 30px;
            margin-top: 60px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .no-image {
                border: 1px solid #ddd;
            }

            .movie-item {
                position: relative;

                &:hover {
                    .movie-des {
                        opacity: 1;
                    }
                }

                .movie-des {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: radial-gradient(transparent, #111);
                    transition: 0.5s;
                    color: #fff;
                    padding: 15px;
                    font-weight: 500;
                    opacity: 0;

                    .type {
                        text-align: right;

                        span {
                            display: inline-block;
                            background-color: #ddd;
                            border-radius: 5px;
                            padding: 5px 10px;
                            font-size: 12px;
                            
                            color: #000;
                        }
                    }

                    .title {
                        text-align: center;
                        font-size: 14px;
                        line-height: 2rem;
                    }
                }
            }
        }
    }
}

// detail ---> 
.detail {
    background-color: #fff;

    .wrapper {
        padding: 120px 0;

        figure {
            color: #fff;
            position: relative;
            width: 100%;

            img {
                display: block;
                width: 100%;
            }

            .titlebox {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                position: absolute;
                bottom: 80px;
                left: 311.500px;
                max-width: 1280px;

                .title {
                    display: flex;
                    align-items: flex-end;
                    gap: 20px;
                    margin-bottom: 30px;

                    h2 {
                        font-size: 80px;
                        font-weight: 500;
                        text-shadow: 2px 2px 2px #33333350;
                    }

                    .lng {
                        font-size: 24px;
                        font-weight: 500;
                        opacity: 0.7;
                    }
                }

                .tit {
                    display: block;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    text-shadow: 2px 2px 2px #33333350;
                }

                .genre {
                    font-size: 18px;
                    font-weight: 700;
                    text-shadow: 2px 2px 2px #33333350;
                }
            }

            button {
                position: absolute;
                top: 5%;
                left: 311.500px;
                font-size: 18px;
                color: #fff;
                text-shadow: 2px 2px 2px #33333350;
                font-weight: 700;

                span {
                    padding: 0 10px;
                }
            }
        }

        .info {
            display: flex;
            max-width: 1280px;
            margin: 70px auto 0;

            .note {
                width: 80%;
                border-right: 1px solid rgba(221, 221, 221, 0.7);
                margin-right: 50px;
                padding-right: 90px;

                h3 {
                    font-size: 28px;
                    font-weight: 800;
                    margin-bottom: 30px;
                    color: #222;
                }

                p {
                    font-size: 17px;
                    line-height: 3rem;
                }
            }

            ul {
                width: 20%;
                padding-top: 10px;

                li {
                    padding: 10px;
                    font-size: 17px;
                    font-weight: 600;
                    color: #222;

                    span {
                        margin-left: 30px;
                        font-size: 17px;
                        font-weight: 400;
                    }

                    &:first-child {
                        font-size: 26px;
                        font-weight: 700;
                        margin-bottom: 20px;
                        color: #333;
                    }
                }
            }
        }
    }
}