.Header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    border-bottom: 1px solid rgba(221, 221, 221, 0.5);

    .bar {
        background-color: #f5f5f5;
        line-height: 35px;

        .inner {
            max-width: 1700px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ul {
                display: flex;
                gap: 20px;

                li {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translate(10px, -50%);
                        width: 1px;
                        height: 8px;
                        background-color: rgba(51, 51, 51, 0.5);
                    }

                    &:last-child {
                        &::after {
                            content: "";
                            display: none;
                        }
                    }
                }
            }

            .util {
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.1rem;
            }
        }
    }

    .content {
        background-color: #fff;
        
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 70px;
            width: 100%;
    
            .logo {
                width: 200px;
    
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
    
            .nav {
                ul {
                    font-size: 15px;
                    font-weight: 600;
                    display: flex;
                    gap: 35px;
                    align-items: center;
                }
    
                .button {
                    cursor: pointer;
    
                    .box {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
            }

            .cart-status {
                position: relative;

                .cart {
                    font-size: 20px;

                    span {
                        position: absolute;
                        top: 35%;
                        right: -5px;
                        font-size: 10px;
                        line-height: 0;
                    }
                }

                
            }
        }
        }
    
}