.user-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    // span {
    //     font-size: 14px;
    //     font-weight: 600;
    // }
}