.home {
    // background-color: #000;
    // color: #fff;

    .main-content {
        .img-wrapper {
            width: 100%;
            height: calc(100vh - 110px);
            margin-bottom: 60px;
            text-align: center;

            .main-image {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .img-text {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                font-family: 'Oswald', sans-serif;
                color: #fff;

                .text-title {
                    display: block;
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 25px;
                }

                .btn-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    button {
                        a {
                            border: 1px solid #fff;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 700;
                            padding: 10px 30px;
                        }
                    }

                    
                }
            }
        }

        .container {
            overflow: hidden;
            
            .des {
                text-align: center;
                margin-bottom: 50px;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: 0.04rem;
                }
            }

            .img-swiper {
                width: 100%;
                height: 900px;
                cursor: pointer;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .list-sec {
                position: relative;
                padding: 100px 0;

                h2 {
                    font-size: 26px;
                    font-weight: 500;
                    font-family: 'Oswald', sans-serif;
                    margin-bottom: 25px;
                }

                .list-swiper {
                    .item {
                        cursor: pointer;
                    }
                    .item-img {
                        display: block;
                        margin-bottom: 10px;
                    }

                    .text {
                        padding: 0 5px;
                        letter-spacing: 0.04rem;

                        .cate {
                            display: block;
                            font-size: 13px;
                            font-weight: 500;
                            margin-bottom: 10px;
                            color: #9b4229;
                        }
                        .detail {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h3 {
                                font-size: 17px;
                                font-weight: 600;
                                letter-spacing: 0.02rem;
                            }
                            .price {
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .swiper-button {
                    position: absolute;
                    top: 100px;
                    right: 0;
                    display: flex;
                    gap: 15px;

                    .prev, 
                    .next {
                        background-color: #e5e5e5;
                        border-radius: 50%;
                        height: 35px;
                        width: 35px;
                        font-weight: 900;

                        &:hover {
                            background-color: rgb(189, 189, 189);
                        }
                    }

                    .xi-angle-left-min,
                    .xi-angle-right-min {
                        font-weight: 700;
                    }
                }
            }

            .trend {
                margin-bottom: 50px;

                h2 {
                    font-size: 26px;
                    font-weight: 500;
                    font-family: 'Oswald', sans-serif;
                    margin-bottom: 25px;
                }
                .content {
                    display: flex;
                    gap: 10px;
                    height: 800px;
                    cursor: pointer;

                    .flex-wrapper {
                        position: relative;
                        flex: 1;
                        overflow: hidden;

                        .flex-des {
                            position: absolute;
                            bottom: 5%;
                            right: 5%;
                            text-align: right;
                            color: #fff;
                            letter-spacing: 0.1rem;

                            span {
                                display: block;
                                font-size: 30px;
                                font-weight: 800;
                                margin-bottom: 20px;
                            }

                            button {
                                border: 2px solid #fff;
                                color: #fff;
                                font-size: 14px;
                                font-weight: 800;
                                padding: 10px 30px;
                                letter-spacing: 0.1rem;
                                transition: 0.2s;

                            &:hover {
                                background-color: #90A8CB;
                                border: 2px solid #000;
                                color: #000;
                            }
                            }
                        }

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}